<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (orders.length <= 0) { %>
            <h1>Nothing there!</h1>
        <% } else { %>
            <ul class="orders">
                <% orders.forEach(order => {  var orderTotal = 0 %>
                    <li class="orders__item">
                        <label class="bold red">Order #: </label><span class="bold"> <%= order._id %> - <a href="/orders/<%= order._id %>" target="_blank">Invoice</a></span>
                        <ul class="orders__products">
                            <% order.products.forEach(p => {  %>
                                <li class="orders__products-item"><%= p.product.title %> (<%= p.quantity %>)</li>
                                <% orderTotal += p.product.price * p.quantity %>
                            <% }); %>
                        </ul>
                        <label class="bold red">Total:</label><span> <%= orderTotal %></span><span class="bold">€</span>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>